.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden; 
}

.navbar {
  display: block;
}

.content {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: space-between;
  gap: 20px;
  overflow-y: auto; 
}

.main-feed {
  flex: 2; 
}

.sidebar {
  flex: 1;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column; 
    gap: 10px; 
  }

  .sidebar {
    margin-top: 20px;
  }
}
